@font-face {
    font-family: 'Chirp Bold';
    src: url('/fonts/Chirp-Bold.ebb56aba.woff2');
  }

.button3 {
    background-color: var(--blue);
    font-family: 'Chirp Bold', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    width: 300px;
    height: 40px;
    border-radius: 60px;
    font-size: 15px;
    cursor: pointer;
    color: var(--white);
    border: none; 
    transition: background-color 0.2s;
    margin-top: 10px;
}

.button3:hover {
    background-color: var(--darkblue);
}