@font-face {
    font-family: 'Chirp Bold';
    src: url('/fonts/Chirp-Bold.ebb56aba.woff2');
  }

.button2 {
    background-color: var(--white);
    font-family: 'Chirp Bold', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    width: 300px;
    min-height: 38px;
    border-radius: 60px;
    font-size: 15px;
    cursor: pointer;
    color: var(--black);
    border: none; 
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.button2:hover {
    background-color: var(--palegrey);
}