@font-face {
    font-family: 'Google Sans';
    src: url('/fonts/GoogleSans.ttf');
  }

.button1 {
    background-color: var(--white);
    font-family: 'Google Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 38px;
    width: 300px;
    min-height: 38px;
    border-radius: 60px;
    font-size: 14px;
    letter-spacing: 0.2px;
    cursor: pointer;
    color: var(--darkgrey);
    border: none; 
    transition: background-color 0.2s ease;
}

.button1:hover {
    background-color: var(--palegrey);
}