:root {
  --max-width: 1100px;
  --black: black;
  --white: white;
  --darkgrey: #3c4043; 
  --palegrey: rgb(243, 243, 243);
  --darkergrey: rgb(47, 51, 54); 
  --blue: #1d9bf0;
  --darkblue: #1b8ad3;
}

html {
  background-color: var(--black);
}

