@font-face {
  font-family: 'Chirp Extended Heavy';
  src: url('/fonts/chirp-extended-heavy-web.woff2');
}

@font-face {
  font-family: 'Chirp Regular';
  src: url('/fonts/Chirp-Regular.80fda27a.woff2');
}

@font-face {
  font-family: 'Chirp Bold';
  src: url('/fonts/Chirp-Bold.ebb56aba.woff2');
}

.texth1, .texth3 {
  color: var(--white);
  font-family: 'Chirp Extended Heavy', Verdana, Geneva, Tahoma, sans-serif;
}

.texth1 {
  font-size: 64px;
  margin-top: 80px;
  letter-spacing: -1px;
}

.texth3 {
  font-size: 31px;
  margin-top: 10px;
}

.largecontainer {
  display: flex;
  height: 90vh;
}

.logocontainer {
  display: flex;
  flex: 55%;
  align-items: center;
  justify-content: center;
}

.logoimage {
height: auto;
width: 700px;

}

.assetscontainer {
  display: flex;
  flex-direction: column;
  flex: 45%;
  justify-content: flex-start;
  margin-left: 60px;
}

/*
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
*/


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}


