@font-face {
  font-family: 'Chirp Extended Heavy';
  src: url('/fonts/chirp-extended-heavy-web.woff2');
}

@font-face {
  font-family: 'Chirp Regular';
  src: url('/fonts/Chirp-Regular.80fda27a.woff2');
}

@font-face {
  font-family: 'Chirp Bold';
  src: url('/fonts/Chirp-Bold.ebb56aba.woff2');
}

.texth1, .texth3 {
  color: var(--white);
  font-family: 'Chirp Extended Heavy', Verdana, Geneva, Tahoma, sans-serif;
}

.texth1 {
  font-size: 64px;
  margin-top: 10%;
  letter-spacing: -1px;
}

.texth3 {
  font-size: 31px;
  margin-top: 10px;
}

.largecontainer {
  display: flex;
  margin-top: 20x;
}

.logocontainer {
  display: flex;
  flex: 55%;
  align-items: center;
  justify-content: center;
}

.logoimage {
  height: auto;
  width: 90%;
  margin-left: 35px;
  margin-right: 35px;
  max-height: 380px;
}

.assetscontainer {
  display: flex;
  flex-direction: column;
  flex: 45%;
  justify-content: flex-start;
  margin-left: 36px;
  margin-right: 36px;
  color: var(--white);
  max-width: 760px;
  min-width: 437px;
}

.linecontainer {
  display: flex;
  margin-top: 10px;
  align-items: center;
  min-width: 0px;
  justify-content: center;
  width: 300px;
  font-family: 'Chirp Regular', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.line {
  background-color: var(--darkergrey);
  height: 1px;
  margin-left: 4px;
  margin-right: 4px;
  flex: 1;
}

.textcontainer {
  width: 300px;
  margin-top: -5px;
  margin-bottom: px;
}

.signuptext {
  font-family: 'Chirp Regular', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
  color: var(--mediumgrey);
}

.bluetext {
  color: var(--blue);
  cursor: pointer;
}

.bluetext:hover {
  text-decoration: underline;
}

.texth5 {
  font-family: 'Chirp Bold', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  margin-top: 50px;
  margin-bottom: 30px;
}



.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}




/* Tablet and Smaller Desktop */
@media screen and (max-width: 1060px) {
  .largecontainer{
    flex-direction: column;
    align-items: flex-start;
    min-width: 45vw;
    max-width: 600px;
    margin: 20px auto;
  }

  .main {
    justify-content: flex-start;
    max-height: 90vh;
  }

  .logoimage {
    height: 3rem;
    margin-left: 8px;
  }
}

@media screen and (max-width: 500px) {
  .texth1 {
    font-size: 38px;
  }

  .texth3 {
    font-size: 22px;
  }
  .assetscontainer {
    margin: 36px;
    position: relative;
    top: -20px;

  }
  .main {
    overflow: hidden;
    max-height: 90vh;
  }

}

